.navbar-brand img {
    margin-top: -9px;
    margin-left: 0px;
}

.homePage .page-header {
    border-bottom:none;    
}

.homePage .page-header p.intro {
    text-align:center;
    padding: 2em 0;
}